@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');
.container{
    display: grid;
    font-family: 'AR One Sans', sans-serif;
    grid-template-areas: 
    "header header header "
    "main main main"
    "main2 main2 main2"
    "main3 main3 main3";
}
.header{
    display: grid;
    grid-area: header;
    grid-template-columns:repeat(3,1fr) ;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}
.logo>img{
    height: 100px;
    width: 100px;
}
.cen{
       display: grid;
       grid-template-columns: repeat(3,1fr);
       grid-column-gap: 100px;
       justify-content: center;
}
.login{
    display: grid; 
    justify-items: end;
}
button{
    text-decoration: none;
    font-size: 25px;
    padding: 10px 80px 10px 80px;
    background-color: #0ebb50;
    color: black;
    border: none;
    border-radius: 5px;
}
.main{
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.pic>img{
    width: 700px;
    height:96vh ;
}
.info{
    padding: 150px;

}
.info>button{
    margin-top: 20px;
    padding: 15px 75px 15px 75px;
    color: white;
    background-color: black;
    font-size: 20px;
}
.info>p{
    margin: 30px 0px 30px 0px;
    font-size: 20px;
}
.info>h1{
    font-size: 50px;
}
.pic{
    background-color: yellow;
    height: 96vh;
}
.swg{
    grid-area: main2;   
}
.swiggy{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #241515;
    justify-content: space-around;
    justify-items: center;
    color: white;
    align-items: center;
}
.swigg>h3{
    font-size: 30px;
}
.swigg{
    text-align: center;
}
.swigg>p{
    font-size: 20px;
    max-width: 330px;
    color: #752d2d;
}
.food>img{
    height: 250px;
    width: 500px;
    border-radius: 30px 30px 0px 0px;
}
.order{
    margin-top: 50px;
    grid-area: main3;
}
.ff{
    display: grid;
    grid-template-columns: repeat(3,500px);
    justify-content: space-around;
    align-items: center;
    
}
.food{
    border-radius: 30px 30px 30px 30px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.finfo{
    margin-left: 40px;
}
.finfo{
    font-size: 20px;
}